body {
    margin: 5px 10px;
    padding: 10px;
    white-space: nowrap;
    overflow: auto;
    width: 318px;
}

.not_working {
    margin-left: 5px;
}

h3 {
    margin-top: 0;
    margin-left: 5px;
}
.sub_sub_title {
    margin-left: 5px;
}

.sub_title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-top: -10px;
}

.small_sub_title {
    font-size: 14px;
    font-weight: normal;
}

#user {
    width: 100%;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 2px 7px;
    outline: none;
}

#result {
	margin-left: 5px;
    font-size: 14px;
    position: relative;
}
#result .progress-bar span {
    color: #ababab;
    width: 100%;
    position: absolute;
    display: block;
}

#blacklist .blist_row td + td {
    text-align: center;
}
#blacklist .blist_table {
    margin: 0 auto;
}
#blacklist .blist_table td {
    padding: 0 10px;
}
#blacklist .blist_table .blist_header td {
    padding-bottom: 5px;
}

#emotion_check {
    float: right;
}

#filter_switch, #filter_switch .btn {
    outline: none;
}

.default_list {
    margin-top: -10px;
    padding: 0 5px 10px;
}
#filter_list_div{
    width: 380px;
}
#filter_list_div label{
    width: 20%;

}
#filter_list_div div{
    margin: 3px;
}
#emotion_filter_list{
    margin: 5px;
}
.input-group{
    margin-left: 5px;
}
.input-group span{
    font-weight: bold;
}
.input-group label{
    padding-right: 10px;
    font-weight: lighter;
}
.filter_title{
    padding-right: 10px;
}
