body {
    margin: 5px 10px;
    padding: 10px;
    white-space: nowrap;
    overflow: auto;
    width: 300px;
}

h1 {
    font-size: 15px;
    margin-top: 0;
    margin-left: 5px;
}

#user {
    width: 100%;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 2px 7px;
    outline: none;
}

#result {
	margin-left: 5px;
    font-size: 14px;
    position: relative;
}
#result .progress-bar span {
    color: #ababab;
    width: 100%;
    position: absolute;
    display: block;
}

#blacklist {
    padding-bottom: 30px;
}
#blacklist .blist_row td + td {
    text-align: center;
}

#emotion_check {
    float: right;
}

#filter_switch, #filter_switch .btn {
    outline: none;
}
