<!doctype html>
<html>
    <head>
        <title>Ahn Gimotti!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../public/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    </head>

    <body>
        <h3>Ahn Gimotti!</h3>
        <div class="sub_sub_title">Erase all what makes you not Gimotti!</div>
        
        <hr>
        
        <div class="sub_title">Blacklist</div>
        <div id="blacklist">
            <table class="blist_table">
                <thead>
                    <tr class="blist_header sub_sub_title">
                        <td class="col-xs-9"> Name / IP adress</td>
                        <td class="col-xs-3"> Erased #</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        
        <hr>
        
        <div class="sub_title">Erased Rate</div>
        <div id="result" class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" data-value="0" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <span class="progress-text"> 0% Erased</span>
            </div>
        </div>
        
        <hr>
        
        <div class="sub_title">Emotion List <span class="small_sub_title">you want to erase</span></div>
        <div class="default_list">(Default Erases 싫음, 분노, 짜증남, 미워함)</div>
        <div class="input-group">
            <span class="filter_title">erase all slang : </span>
            <label><input type="radio" name="slang_filter" value="y"> yes</input></label>
            <label><input type="radio" name="slang_filter" value="n" checked> no</input></label>
        </div>
        <div class="input-group">
            <span class="filter_title">show emotion list : </span>
            <label><input type="radio" name="emotion_filter_show" value="y"> open</input></label>
            <label><input type="radio" name="emotion_filter_show" value="n" checked> close</input></label>
        </div>
        <div id="filter_list_div" style="display:none;">
            <div id="filter_list_line1">
                <label>
                    <input type="checkbox" id="checkbox_dislike" checked>
                    싫음
                </label>
                <label>
                    <input type="checkbox" id="checkbox_anger" checked>
                    분노
                </label>
                <label>
                    <input type="checkbox" id="checkbox_annoying" checked>
                    짜증남
                </label>
                <label>
                    <input type="checkbox" id="checkbox_hate" checked>
                    미워함
                </label>
            </div>
            <div id="filter_list_line2">
                <label>
                    <input type="checkbox" id="checkbox_chagrin">
                    억울함
                </label>
                <label>
                    <input type="checkbox" id="checkbox_disappoint">
                    실망
                </label>
                <label>
                    <input type="checkbox" id="checkbox_uninterested">
                    무관심
                </label>
                <label>
                    <input type="checkbox" id="checkbox_worrying">
                    불안
                </label>
            </div>
            <div id="filter_list_line3">
                <label>
                    <input type="checkbox" id="checkbox_boring">
                    지루함
                </label>
                <label>
                    <input type="checkbox" id="checkbox_regret">
                    후회
                </label>
                <label>
                    <input type="checkbox" id="checkbox_yearning">
                    그리움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_embarrassed">
                    창피함
                </label>
            </div>
            <div id="filter_list_line4">
                <label>
                    <input type="checkbox" id="checkbox_love">
                    사랑
                </label>
                <label>
                    <input type="checkbox" id="checkbox_ecstasy">
                    황홀함
                </label>
                <label>
                    <input type="checkbox" id="checkbox_romance">
                    설렘
                </label>
                <label>
                    <input type="checkbox" id="checkbox_satisfied">
                    만족
                </label>
            </div>
            <div id="filter_list_line5">
                <label>
                    <input type="checkbox" id="checkbox_thankful">
                    고마움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_happy">
                    행복
                </label>
                <label>
                    <input type="checkbox" id="checkbox_fun">
                    즐거움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_pleased">
                    기쁨
                </label>
            </div>
            <div id="filter_list_line6">
                <label>
                    <input type="checkbox" id="checkbox_suffering">
                    괴로움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_lonely">
                    외로움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_fear">
                    두려움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_misery">
                    안타까움
                </label>
            </div>
            <div id="filter_list_line7">
                <label>
                    <input type="checkbox" id="checkbox_sorrow">
                    슬픔
                </label>
                <label>
                    <input type="checkbox" id="checkbox_sorry">
                    미안함
                </label>
                <label>
                    <input type="checkbox" id="checkbox_shocked">
                    놀람
                </label>
                <label>
                    <input type="checkbox" id="checkbox_confused">
                    당황
                </label>
            </div>
            <div id="filter_list_line8">
                <label>
                    <input type="checkbox" id="checkbox_touched">
                    감동
                </label>
                <label>
                    <input type="checkbox" id="checkbox_envious">
                    부러움
                </label>
                <label>
                    <input type="checkbox" id="checkbox_wish">
                    바람
                </label>
                <label>
                    <input type="checkbox" id="checkbox_confident">
                    자신감
                </label>
            </div>
            <div id="filter_list_line9">
                <label>
                    <input type="checkbox" id="checkbox_lighthearted">
                    홀가분함
                </label>
                <label>
                    <input type="checkbox" id="checkbox_middle">
                    중립
                </label>
            </div>
        </div>        

        <hr>

        <div class="sub_title">Eraser Switch</div>
        <div id="filter_switch" class="btn-group btn-toggle">
            <button type="button" class="btn btn-primary active" value=true data-toggle="button">On</button>
            <button type="button" class="btn btn-default" value=false data-toggle="button">Off</button>
        </div>
        <button class="btn btn-default" id="emotion_check" disabled="disabled">Erase!</button>
        
        <table id="copy_reply" style="display: none;"></table>
        <table id="copy_after" style="display: none;"></table>
    </body>
    <script src="../public/libs/jquery/jquery.min.js"></script>
    <script src="../public/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/modules/script.js"></script>
</html>
