<!doctype html>
<html>
  <head>
    <title>Text Feeling</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>

  <body>
    <h1>Text Feeling</h1>
    <div id="result" class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" data-value="0" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        </div>
    </div>
    <table id="copy_reply" style="display: none;"></table>
    
    <div id="filter_switch" class="btn-group btn-toggle">
        <button type="button" class="btn btn-primary active" value=true data-toggle="button">On</button>
        <button type="button" class="btn btn-default" value=false data-toggle="button">Off</button>
    </div>
    <button class="btn btn-default" id="emotion_check">Check</button>

    <script src="../public/libs/jquery/jquery.min.js"></script>
    <script src="../public/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/modules/script.js"></script>
  </body>
</html>
