<!doctype html>
<html>
  <head>
    <title>Text Feeling</title>
    <link rel="stylesheet" type="text/css" href="../public/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>

  <body>
    <h1>Text Feeling</h1>
    <textarea class="form-control input-sm" id="user" rows="2"></textarea>
    <div id="result"></div>

    <button class="btn btn-default" id="emotion_check">Check</button>

    <script src="../public/libs/jquery/jquery.min.js"></script>
    <script src="../public/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/modules/script.js"></script>
  </body>
</html>
